.nav-link {
  color: #283618;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  margin: auto;
  max-width: 40em;
}

.social-link {
  text-align: center; 
  margin: 25px;
}




